<div class="container">
  <h2>Angular Forms: </h2>
  <form #form="ngForm">
    <div class="form-group">
      <label for="">Firs Name</label>
      <input type="text" class="form-control" name="firsName" [ngModel]='usuario.firstName'>
    </div>
    <div class="form-group">
      <label for="">first surname</label>
      <input type="text" class="form-control" name="lastName" [(ngModel)]='usuario.lastName'>
    </div>
    <div class="form-group">
      <label for="">second surname</label>
      <input type="text" class="form-control" name="secondSurname" [ngModel]='usuario.secondSurname' (ngModelChange)='firtsCapitanFunc($event)'>
      <!--   (ngModelChange)='usuario.secondSurname=$event' >  -->
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="tiempo-completo" [(ngModel)]='usuario.isFullTime'> Full Time Employee
      </label>
    </div>

    <label>Pyment Type </label>
    <div class="c-radio">
      <label>
        <input type="radio" name="tipo-pago " value="TC" [(ngModel)]="usuario.paymentType">
        TC
      </label>
    </div>
    <div class="c-radio">
      <label>
        <input type="radio" name="tipo-pago " value="TD" [(ngModel)]="usuario.paymentType" checked>
        TD
      </label>
    </div>

    <div class="form-group">
      <label [class.text-danger]="lenguageInvalid">Primary Language</label>
      <select class="form-control" #languageClass [class.is-invalid]="lenguageInvalid" [(ngModel)]="usuario.languages"
        name="language" (blur)="validateLanguage(languageClass.value)"
        (change)="validateLanguage(languageClass.value)">

        <option value="default">select language...</option>
        <option *ngFor="let lang of languages">
          {{lang}}
        </option>
      </select>
    </div>
    <!--
    <div class="form-group">
      <label>Date</label>
      <input type="color" class="form-control" name="dateEnt" ngModel >
    </div>

    <button class="btn btn-primary" type="submit" name="button">OK</button>
    <h4>es pristine: {{ form.pristine }}</h4>

-->

  </form>
</div>

Usuario: {{ usuario | json }}

<br>

Angular: {{ form.value | json}}
