<div class="container">
  <h2>Angular Forms: </h2>
  <form #form="ngForm">
    <div class="form-group">
      <label for="">Firs Name</label>
      <input type="text" #pNombre #fName='ngModel' required class="form-control" name="firsName" ngModel>
    </div>
  </form>
</div>

<!--Cards-->
<div class="card-deck">
  <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">Classes</div>
    <div class="card-body">
      <h5 class="card-title">Classes Angular</h5>
      <p class="card-text">{{ pNombre.className }}</p>
      <p>Pristine: <span class="badge" [class.badge-success]="fName.pristine" [class.badge-danger]="fName.dirty">{{fName.pristine}}</span></p>
      <p>UnTouched: <span class="badge" [class.badge-success]="fName.untouched" [class.badge-danger]="fName.touched">{{fName.untouched}}</span></p>
      <p>Valid: <span class="badge" [class.badge-success]="fName.valid" [class.badge-danger]="fName.invalid">{{fName.valid}}</span></p>
    </div>
  </div>
  <div class="card bg-light mb-3" style="max-width: 18rem;">
    <div class="card-header">State Touched</div>
    <div class="card-body">
      <h5 class="card-title">State Activate</h5>
      <h3> <span class="badge" [class.badge-success]="fName.touched" [class.badge-secondary]="fName.untouched">ng-touched</span> </h3>
      <h3> <span class="badge" [class.badge-success]="fName.untouched" [class.badge-secondary]="fName.touched">ng-untouched</span> </h3>
      <hr />
      <h3> <span class="badge" [class.badge-success]="fName.touched" [class.badge-secondary]="fName.untouched">touched</span> </h3>
      <h3> <span class="badge" [class.badge-success]="fName.untouched" [class.badge-secondary]="fName.touched">untouched</span> </h3>
    </div>
  </div>
  <div class="card bg-light mb-3" style="max-width: 18rem;">
    <div class="card-header">State Pristine </div>
    <div class="card-body">
      <h5 class="card-title">State Activate</h5>

      <h3> <span class="badge" [class.badge-success]="fName.pristine" [class.badge-secondary]="fName.dirty">ng-pristine</span> </h3>
      <h3> <span class="badge" [class.badge-success]="fName.dirty" [class.badge-secondary]="fName.pristine">ng-dirty</span> </h3>
      <hr />
      <h3> <span class="badge" [class.badge-success]="fName.pristine" [class.badge-secondary]="fName.dirty">pristine</span> </h3>
      <h3> <span class="badge" [class.badge-success]="fName.dirty" [class.badge-secondary]="fName.pristine">dirty</span> </h3>

    </div>
  </div>
  <div class="card bg-light mb-3" style="max-width: 18rem;">
    <div class="card-header">State Valid</div>
    <div class="card-body">
      <h5 class="card-title">State Activate</h5>
      <h3> <span class="badge" [class.badge-success]="fName.valid" [class.badge-secondary]="fName.invalid">ng-valid</span> </h3>
      <h3> <span class="badge" [class.badge-success]="fName.invalid" [class.badge-secondary]="fName.valid">ng-invalid</span> </h3>
      <hr />
      <h3> <span class="badge" [class.badge-success]="fName.valid" [class.badge-secondary]="fName.invalid">valid</span> </h3>
      <h3> <span class="badge" [class.badge-success]="fName.invalid" [class.badge-secondary]="fName.valid">invalid</span> </h3>
    </div>
  </div>

</div>
<button type="button" class="btn btn-outline-dark"  (click)='logEd(pNombre)'>Consola &raquo;</button>
